.callback {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 10000;
	&--open {
		display: block;
	}
	&__wrapper {
		width: 450px;
		background: rgba(255, 255, 255, 0.9);
		padding: 8px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media @m {
			top: 30px;
			margin-top: 0;
		}
	}
	&__header {
		text-transform: uppercase;
		margin: 8px;
	}
	&__form {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;	
		justify-content: flex-end;		
	}
	&__item {
		padding: 8px;
		flex-basis: 100%;
		label {
			display: block;
			margin-bottom: 10px;
			font-size: 12px;
		}
		input, textarea {
			width: 100%;
			padding: 15px;
			resize: vertical;
			border: 1px solid @red;
		}
		input {
			&[type="submit"] {
				background: @white;
				color: @red;
				border: 1px solid @red;
				text-transform: uppercase;
				cursor: pointer;
				transition: .1s;
				font-weight: bold;
				&:hover {
					background: @red;
					color: @white;
				}
			}
		}
		textarea {
			resize: vertical;
		}
	}
	&__close {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 32px;
		height: 32px;
		display: inline-block;
		padding: 0;
		font-size: 30px;
		line-height: 32px;
		text-align: center;
		border: none;
		background: none;
		cursor: pointer;
		outline: none;				
		font-weight: bold;
		transition: .3s;
		&:hover {
			//transform: rotate(90deg);	
			color: @red;
		}
	}
	.wpcf7-not-valid-tip {
		font-size: 12px;
		padding: 0 15px;
		background: @red;
		color: #fff;
	}
	.wpcf7-validation-errors {
		margin: 0;
		padding: 0 5px;
		font-size: 12px;
		margin: 0 8px 8px;
	}
}

.callback2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 10000;
	&--open {
		display: block;
	}
	&__wrapper {
		width: 450px;
		background: rgba(255, 255, 255, 0.9);
		padding: 8px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media @m {
			top: 30px;
			margin-top: 0;
		}
	}
	&__header {
		text-transform: uppercase;
		margin: 8px;
	}
	&__form {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;	
		justify-content: flex-end;		
	}
	&__item {
		padding: 8px;
		flex-basis: 100%;
		label {
			display: block;
			margin-bottom: 10px;
			font-size: 12px;
		}
		input, textarea {
			width: 100%;
			padding: 15px;
			resize: vertical;
			border: 1px solid @red;
		}
		input {
			&[type="submit"] {
				background: @white;
				color: @red;
				border: 1px solid @red;
				text-transform: uppercase;
				cursor: pointer;
				transition: .1s;
				font-weight: bold;
				&:hover {
					background: @red;
					color: @white;
				}
			}
		}
		textarea {
			resize: vertical;
		}
	}
	&__close {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 32px;
		height: 32px;
		display: inline-block;
		padding: 0;
		font-size: 30px;
		line-height: 32px;
		text-align: center;
		border: none;
		background: none;
		cursor: pointer;
		outline: none;				
		font-weight: bold;
		transition: .3s;
		&:hover {
			//transform: rotate(90deg);	
			color: @red;
		}
	}
	.wpcf7-not-valid-tip {
		font-size: 12px;
		padding: 0 15px;
		background: @red;
		color: #fff;
	}
	.wpcf7-validation-errors {
		margin: 0;
		padding: 0 5px;
		font-size: 12px;
		margin: 0 8px 8px;
	}
}