.contacts {
	position: relative;
	.section-header {
		margin: 0;
		margin-bottom: 15px;
	}
	&__map {		
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media @m {
			position: static;
			height: 600px;
		}
	}
	&__container {
		width: 355px;
		padding: 15px 45px;
		background: #fff;
		border-right: 1px solid #ddd;
		background: linear-gradient(to bottom, #595b5f, #575c60);
		color: #fff;
		position: relative;
		z-index: 1;
		@media @m {
			width: 100%;
			padding: 15px;
		}
	}
	&__item {
		margin-bottom: 15px;
		p {
			font-size: 14px;
			margin: 0;
			margin-bottom: 15px;
			&:last-child {
				font-weight: bold;
			}
		}
		h2 {
			font-size: 20px;
			font-weight: bold;
		}
	}
	&__tel {
		font-size: 20px !important;
	}
	&__email {
		font-size: 20px;
		
		color: #fff;
	}
	&__form {
		input, textarea {
			display: block;
			margin-bottom: 5px;
			padding: 15px;
			font-family: 'Open Sans';
			width: 100%;
		}
		input {
			&[type="submit"] {
				cursor: pointer;
				background: @blue;
				border: 1px solid @blue;
				color: @white;
				text-transform: uppercase;
				.fancy-button();
				&:hover {
					background: none;
					color: @blue;
				}
			}
		}
		textarea {
			resize: none;
		}
	}
	.wpcf7-form-control {
		width: 100%;
		margin-bottom: 5px;
		padding: 8px;
		font-family: 'Open Sans';
	}
	.wpcf7-submit {
		.fancy-button();
		color: #fff !important;
		font-weight: bold !important;
	}
	.wpcf7-not-valid-tip {
		//	display: none !important;
		font-family: "Open Sans";
		font-size: 12px;
	}
}