.site-header {
	min-height: 100px;
	background: @white;
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		padding-top: 15px;
	}
	&__item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		//justify-content: center;
		align-items: flex-end;
		margin-bottom: 15px;
		@media @m {
			flex-basis: 100%;
		}
		@media @t {
			flex-basis: 50%;
		}
		@media @d {			
			flex-basis: 25%;
		}
		&--logo {
			@media @m {
				justify-content: center;
			}
		}
		&--button {
			justify-content: center !important;
//			border-left: 1px dotted @red;
//			border-right: 1px dotted @red;
		}
	}
}
.site-logo {
	width: 150px;
	height: 75px;
	background: url(img/site-logo.png) no-repeat center;
	background-size: contain;
	display: inline-block;
	&--footer {
		background-image: url(img/site-logo-footer.png);
	}
	@media @m {
		width: 200px;
		height: 100px;
	}
}

.fast-links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;	
	@media @m {
		display: none;
	}
	&__item {
		background: url(img/pin.png) no-repeat left center;
		padding-left: 21px;
		margin-bottom: 2px;
		a {			
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			color: @grey;
			font-weight: 600;
		}
	}
}

.header-nav {
	flex-basis: 100%;
	background: linear-gradient(to bottom, #2c3033, #3f444a);	
	background: linear-gradient(to bottom, #3d4042, #585c5f);	
	z-index: 100000;	
	border-top: 2px solid lighten(@red, 10%);	
	&--fixed {
		@media @d {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}
		.header-nav__wrapper {
			&::before {
				display: block;
			}
		}
	}
	&__wrapper {
		margin: 0 auto;		
		@media @m {
			width: 100%;
		}
		@media @t {
			width: 798px;
		}
		@media @d {
			width: 1110px;
		}
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		list-style: none;
		justify-content: space-between;
		position: relative;
		&::before {
			content: '';
			display: none;
			width: 200px;
			height: 50px;
			background: url(img/site-logo-nav.png) no-repeat center;
			margin-right: 30px;
		}
		& > li {
			//flex-grow: 1;
			position: relative;
			/*&:not(:last-child) {
				&::before {
					content: '';
					display: block;
					width: 1px;
					height: 30px;
					background: @white;
					position: absolute;
					top: 50%;
					margin-top: -15px;
					left: 100%;					
				}
			}*/
			@media @m {
				flex-basis: 100%;
				border-bottom: 1px solid @white;
			}
			a {
				display: block;
				padding: 7.5px 15px;
				text-decoration: none;
				color: @white;
				//text-transform: uppercase;	
				//color: @black;
				&:hover {
					background: @yellow;
					color: @white;
				}
			}		
			& > a {				
				text-align: center;
				padding: 15px;
				color: darken(@white, 15%);
				font-size: 16px;				
				text-transform: uppercase;
				@media @m {
					text-align: left;
				}
			}
			.sub-menu {
				//box-shadow: 0 0 0 1px #ddd inset;
				list-style: none;
				padding: 0;
				position: absolute;
				top: 100%;
				left: 0;
				display: none;
				z-index: 100000;
				//width: 100%;
				background: @red;
				/*&::before {
					box-sizing: border-box;
					content: '';
					display: block;
					width: 100%;
					height: 0;
					position: absolute;
					top: 100%;
					left: 0;
					border: 10px solid transparent;
					border-top-color: #ddd;
					@media @m {
						display: none;
					}
				}*/
				@media @m {
					background: none;
					position: static;
					box-shadow: none;
					a {
						color: @white;
					}
				}
				li {
					&.current-menu-item {
						a {
							background: @yellow;
							color: @white;
						}
					}
				}
			}
			&:hover {
				& > a {
					background: linear-gradient(to bottom, lighten(@red, 10%), @red 33%);
					color: @white;
				}
				&::before {
					display: none;
				}
				.sub-menu {
					display: block;
					@media @m {
						display: none;
					}
				}
			}			
			&.current-menu-item {
				& > a {
					color: #fff;
					box-shadow: inset 0 -8px 0 0 @red;
					@media @m {
						background: @red;
					}
				}
			}
			&.current-page-ancestor {
				& > a {
					color: #fff;
					box-shadow: inset 0 -8px 0 0 @red;
					@media @m {
						background: @red;
					}
				}
			}
		}
	}
	&__button {
		position: absolute;
		width: 50px;
		height: 50px;
		top: 0;
		right: 0;
		//background: @black;
		background: none;
		border: none;
		//border-left: 1px solid @white;
		color: @white;
		padding: 0;
		font-size: 25px;
		display: none;
		text-align: center;
		cursor: pointer;
		outline: none;
		&::before {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			border-bottom: 5px solid @white;
			border-right: 5px solid @white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -75%) rotate(45deg);
			transition: .3s;
		}
		&--active {
			&::before {
				transform: translate(-50%, -25%) rotate(225deg);
			}
		}
		@media @m {
			display: block;
		}
	}
}

.site-header-callback {
	flex-direction: column;	
	justify-content: space-between;	
	font-size: 14px;
	color: @grey;
	@media @m {
		align-items: center;
	}
	@media @t {
		align-items: flex-start;
	}
	@media @d {
		align-items: flex-end;
	}
	p {
		margin: 0;
	}
	&__tel {
		color: @red;
		font-weight: bold;
		font-size: 26px;
		span {
			color: #cb7082;
		}
	}
	&__button {
		background: none;
		border: none;
		outline: none;
		padding: 0;
		cursor: pointer;
		border-bottom: 1px dashed @red;
		&:hover {
			border-color: transparent;
		}
	}
}