.site-header {
	min-height: 100px;
	background: @black;
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding: 15px 0;
		align-content: center;
	}
}
.site-logo {
	width: 200px;
	height: 75px;
	background: #eee;
}