.prices {
	.price {		
		background: @magenta;
		color: @white;
		&__wrapper {
			//padding: 15px 0;
		}
		&__header {
			text-transform: uppercase;
			text-align: center;
            font-size: 36px;
            margin-bottom: 60px;
            span {
                border-left: 1px solid @yellow;
                border-right: 1px solid @yellow;
                padding: 5px 15px 10px;
            }
		}
		&-choose {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			&__item {
				flex-basis: 33.33%;
				h3 {
					margin: 0;
				}
				p {
					margin: 0;
				}				
                &--left {
                    padding-right: 60px;
                    font-size: 21px;
                }
				&--center {
					flex-grow: 1;
                    padding: 0 55px;
                    text-align: center;
                    position: relative;
                    &::before {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url(img/arrow-left.png) no-repeat center;
                        background-size: contain;
                    }
                    &::after {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: url(img/arrow-left.png) no-repeat center;
                        background-size: contain;                        
                        transform: rotate(180deg);
                    }
                    
				}
                &--right {
                    padding-left: 60px;
                    text-align: right;
                }
			}
            &__open {
                display: inline-block;
                padding: 20px 30px;
                font-size: 18px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: @yellow;
                cursor: pointer;
                border: none;
                outline: none;
                background: url(img/button-border.png) no-repeat center;
                background-size: cover;
                font-weight: lighter;
                span {
                    padding: 5px 15px;
                    border-left: 1px solid @yellow;
                    border-right: 1px solid @yellow;
                }
            }
            &__tel {
                text-align: center;
                font-size: 24px;
                span {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
		}
		&__container {
			padding-top: 30px;
			transition: none;
			display: none;
		}
		&__form {
			padding: 7.5px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			flex-basis: 50%;
			padding: 7.5px;
			&--small {
				flex-basis: 33.33%;
			}
			&--big {
				flex-basis: 100%;
			}
			input:not([type="file"]), textarea {
				padding: 15px;
				width: 100%;
			}
		}
		&__add {
			float: right;
			display: inline-block;
			padding: 10px 20px;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
			background: linear-gradient(lighten(@yellow, 5%), darken(@yellow, 15%));
			cursor: pointer;
			border: none;
			outline: none;
		}
		&-add {
			display: none;
			padding-top: 30px;
			transition: none;
			&__container {				
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
			}
			&__item {
				padding: 7.5px;
				&--dim {
					flex-basis: 100%;
					input {
						width: 24%;
					}
					output {
						width: 24%;
						display: inline-block;
						text-align: center;
					}
				}
				&--panel-type {
					flex-basis: 100%;
				}
				&--panel-thickness {
					flex-basis: 33.33%;
				}
				&--metal-thickness {
					flex-basis: 66.66%;
				}
				&--filler {
					flex-basis: 33.33%;
					label {
						width: 100%;
						display: inline-block;
						margin-bottom: 5px;
					}
				}
				&--addition {
					flex-basis: 66.66%;
					label {
						width: 49%;
						display: inline-block;
						margin-bottom: 14px;
					}
				}
				input {
					padding: 15px;
				}
				h4 {
					margin: 0;
					background: @magenta;
					position: absolute;
					padding: 0 8px;
					top: -12px;
					left: 8px;
				}
			}
			&__inner {				
				border: 1px solid @white;
				position: relative;
				padding: 15px;
			}
		}
	}
}