//@import "vendor.less";
@import "header.less";
@import "footer.less";
@import "site-nav.less";
@import "article.less";
@import "callback.less";
@import "contacts.less";
@import "prices.less";

@m: ~ "(max-width: 767px)";
@t: ~ "(min-width: 768px)";
@d: ~ "(min-width: 1080px)";

@black: #333;
@white: #eee;

@blue: #2e97d7;
//@yellow: #f4c643;
@yellow: #ffbc01;
@red: #ff001a;

.lcw {
	margin: 0 auto;		
	@media @m {
		width: 100%;
	}
	@media @t {
		width: 768px;
	}
	@media @d {
		width: 1080px;
	}	
}

* {
	box-sizing: border-box;
	//transition: .1s ease-in-out;
}

body {
	font-family: 'Open Sans', sans-serif;	
	margin: 0;
	background: @white;
	color: @black;
}

section {
	padding: 30px 15px;
	&.colored {
		color: @white;
		&--blue {
			background: @blue;
		}
	}
	.section-header {
		width: auto;
		border-left: 1px solid @red;
		border-right: 1px solid @red;
		text-transform: uppercase;
		padding: 5px 15px 10px;
		display: inline-block;
		span {
			color: @red;
		}
	}
	ul {
		padding: 0;
		list-style: none;
		li {
			padding-left: 30px;
			margin-bottom: 5px;
			font-size: 14px;
			position: relative;
			background: url(img/pin.png) no-repeat left center;
		}
	}
}

h1, h2, h3, h4, h5, h6 {	
	font-family: 'Open Sans Condensed', sans-serif;	
}

a {
	&:hover {
		text-decoration: none;
	}
}

button {
	font-family: 'Open Sans', sans-serif;
}

input, textarea {
	/*padding: 15px;
	color: @black;
	border: 1px solid @black;
	resize: vertical;
	font-family: 'Open Sans', sans-serif;
	background: @white;*/
}

.site {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;	
	min-height: 100vh;
}

.site-content {
	flex-grow: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.page-header {
	text-transform: uppercase;
	font-size: 45px;
    font-weight: lighter;
    letter-spacing: 1px;
	margin: 15px 0 30px;
}

.page-heading {
	&__header {
		text-transform: uppercase;
		font-size: 55px;
		letter-spacing: 1px;
		margin: 15px 0 45px;
		color: @white;
		border-bottom: 2px solid @white;
		&::before {
			content: '>';
			text-align: center;
			padding: 0 15px;
			color: @blue;
		}
		span {
			letter-spacing: 3px;
			border-bottom: 2px solid @blue;
		    text-shadow: 1px 1px 2px #333, -1px -1px 2px #333, 1px -1px 2px #333, -1px 1px 2px #333;
		}
	}
	&__text {
		background: rgba(0, 0, 0, 0.4);
		color: @white;
		padding: 15px;
	}
}

.consult {
	background: url(img/consult-bg.jpg) no-repeat center;
	background-size: cover;
	&__wrapper {
		padding: 30px 60px;	
		text-align: center;		
		color: @white;
	}
	&__header {
		margin: 0;
		margin-bottom: 15px;
	}
	&__tel {
		font-size: 30px;
		font-weight: bold;
	}
	/*&__button {
		display: inline-block;
		padding: 15px 30px;
		font-size: 25px;
		background: @yellow;
		border: 1px solid @yellow;
		color: @black;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		font-family: 'Open Sans Condensed';
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: -1px;
			left: -1px;
			border: 1px solid @white;
			transition: .1s;
		}
		&:hover {
			box-shadow: 5px 5px 0 0 @black;
			&::before {
				transform: translate(-5px, -5px);
			}
		}
	}*/
	.fancy-button {
		font-size: 20px;
	}
}

.types {
	&__container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		flex-basis: 49.00%;
		text-align: center;
		//padding: 15px;
		display: inline-block;
		width: 100%;
		height: 445px;
		background: #ddd no-repeat center;
		position: relative;
		overflow: hidden;
		text-decoration: none;
		&:hover {
			.types__mask {
				transform: scale(1.5);
				opacity: 0;
			}
		}
	}
	&__mask {
		width: 100%;
		height: 100%;
		padding: 15px;
		background: rgba(0, 0, 0, 0.6);		
		transition: .3s;		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			color: @white;
			text-transform: uppercase;
			font-size: 60px;
			margin: 0;
			margin-bottom: 15px;
		}
	}
	&__img {
		width: 120px;
		height: 120px;
		display: inline-block;
		background: rgba(255, 0, 26, 0.6) no-repeat center;
	}
	&--sandwich {
		.types__item {
			&:nth-child(1) {
				background-image: url(img/types/sandwich/1.jpg);
				.types__img {
					background-image: url(img/site-nav/img/wall.png);
				}
			}
			&:nth-child(2) {
				background-image: url(img/types/sandwich/2.jpg);
				.types__img {
					background-image: url(img/site-nav/img/roof.png);
				}
			}			
		}
		
	}
}

.slider {
	h2 {
		text-align: center;
		text-transform: uppercase;
	}
	&__container {
		padding: 8px;
	}
	&__item {
		background: #ddd;
		height: 200px;
		margin: 8px;
	}
}

.items {	
	background: @blue;
	padding: 30px 0;
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__header {
		text-align: center;
		text-transform: uppercase;
		color: @white;
	}
	&__item {
		flex-basis: 33.33%;
		text-align: center;
		padding: 15px;
		color: @white;
		font-weight: bold;
	}
	&__img {
		width: 80px;
		height: 80px;
		background: @white;
		margin-bottom: 15px;
	}
	&__text {
		margin: 0;
	}
}

.graph {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&__item {
		flex-basis: 25%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;	
		text-align: center;
		padding: 15px 30px;
		font-size: 26px;
		font-weight: bold;
		&:nth-child(1) {
			.graph__div {
				height: 45px;
			}
		}
		&:nth-child(2) {
			.graph__div {
				height: 75px;
			}
		}
		&:nth-child(3) {
			.graph__div {
				height: 100px;
			}
		}
		&:nth-child(4) {
			.graph__div {
				height: 120px;
			}
		}
		
	}
	&__div {
		margin-top: auto;
		background: @blue;
		margin-bottom: 15px;
		padding-top: 5px;
		font-size: 26px;
		font-weight: bold;
		color: @white;
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 0;
			height: 5px;
			position: absolute;
			left: 50%;
			margin-left: -102px;
			bottom: 100%;
			border-style: solid;
			border-width: 25px 102px;
			border-color: transparent;
			border-bottom-color: @blue;
			box-sizing: border-box;
		}
	}
	&__volume {
		font-size: 30px;
	}
	&__year {
		font-size: 34px;
		color: @blue;
	}
}

.prod-capacity {
	background: @blue;
	h2 {		
		color: @white;
		text-align: center;
		text-transform: uppercase;
		font-weight: lighter;
		font-size: 30px;
		span {
			font-weight: bold;
			sup {
				font-size: 14px;
			}
		}
	}
}

.fancy-ul {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding-left: 45px;
		margin-bottom: 15px;
		font-size: 15px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			background: @blue;
			transform: rotate(0);
			width: 24px;
			height: 24px;
			top: 6px;
			left: 0;
		}
		&::after {
			content: '';
			display: block;
			width: 12px;
			height: 6px;
			border-bottom: 4px solid @white;
			border-left: 4px solid @white;
			transform: rotate(-45deg);
			position: absolute;
			top: 11px;
			left: 4px;
		}
	}
}

.fancy-ol {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		padding-left: 45px;
		margin-bottom: 15px;
		font-size: 15px;
		position: relative;
		counter-increment: counter;
		&::before {
			content: counter(counter);
			display: block;
			position: absolute;
			background: @white;
			color: @blue;
			font-weight: bold;
			text-align: center;
			line-height: 30px;
			width: 30px;
			height: 30px;
			top: 5px;
			left: 0;
			font-size: 20px;
		}
	}
}

.fancy-button {
	border: 12px solid transparent;
	border-image: url(img/fancy-button-border.png) 11;
	outline: none;
	cursor: pointer;
	background-clip: padding-box;
	background-color: @red;
	span {
		color: @white;
		text-transform: uppercase;
		border-left: 1px solid @white;
		border-right: 1px solid @white;
		display: inline-block;
		padding: 4px 8px;
	}
	&--yellow {
		border-image: url(img/fancy-button-border-yellow.png) 11;
		background: @yellow;
		background-clip: padding-box;
		span {
			color: @black;
			border-color: @black;
		}
	}
}

.features {
	&__header {
		margin: 0;
		margin-bottom: 30px;
		text-transform: uppercase;
		color: @blue;
	}
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;	
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		padding: 10px;		
		font-size: 13px;
		//counter-increment: number;
		@media @m {
			flex-basis: 50%;
		}
		@media @t {
			flex-basis: 33%;
		}
		@media @d {
			flex-basis: 20%;
		}			
		/*&::before {   
			content: counter(number);
				background: @yellow;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				display: inline-block;
				color: @white;
				line-height: 50px;
				font-weight: bold;
				font-size: 20px;
				margin-bottom: 15px;
		}*/
		h3 {
			font-size: 18px;
			color: @red;
			padding-left: 30px;
			background: url(img/pin.png) no-repeat left center;
			background-size: contain;
		}
		p {
			font-size: 14px;
			text-align: left;
		}
	}
	&--sandwich {
		.features__item {
			&:nth-child(1) {
				h3 {
					background-image: url(img/features/sandwich/1.png);
				}
			}
			&:nth-child(2) {
				h3 {
					background-image: url(img/features/sandwich/2.png);
				}
			}
			&:nth-child(3) {
				h3 {
					background-image: url(img/features/sandwich/3.png);
				}
			}
			&:nth-child(4) {
				h3 {
					background-image: url(img/features/sandwich/4.png);
				}
			}
			&:nth-child(5) {
				h3 {
					background-image: url(img/features/sandwich/5.png);
				}
			}	
		}
	}
}

.container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.col {
		&-6 {
			flex-basis: 49%;
		}
		
	}
}

.colors {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	&__item {
		width: 120px;
		height: 120px;
		text-align: center;
		line-height: 120px;
		border: 1px solid @blue;
		margin-right: 15px;
		margin-bottom: 15px;
		&:hover {
			span {
				display: none;
			}
		}
		&--1014 {
			background-color: #dfcda3;
		}
		&--1015 {
			background-color: #e7d8bf;
		}
		&--1018 {
			background-color: #fed939;
		}
		&--3003 {
			background-color: #860a24;
			color: @white;
		}
		&--3009 {
			background-color: #6c312b;
			color: @white;
		}
		&--5005 {
			background-color: #014289;
			color: @white;
		}
		&--6002 {
			background-color: #296131;
			color: @white;
		}
		&--6005 {
			background-color: #0e4437;
			color: @white;
		}
		&--7004 {
			background-color: #999a9f;
		}
		&--8017 {
			background-color: #46302c;
			color: @white;
		}
		&--9002 {
			background-color: #dbdad6;
		}
		&--9003 {
			background-color: #f8f9fc;
		}
		&--9006 {
			background-color: #a6a8a7;
		}
		
	}
}