//@import "vendor.less";
@import "header.less";
@import "footer.less";
@import "site-nav.less";
@import "contacts.less";

@m: ~ "(max-width: 767px)";
@t: ~ "(min-width: 768px)";
@d: ~ "(min-width: 1080px)";

@black: #333;
@white: #eee;

@blue: #2e97d7;

.lcw {
	margin: 0 auto;		
	@media @m {
		width: 100%;
	}
	@media @t {
		width: 768px;
	}
	@media @d {
		width: 1080px;
	}	
}

* {
	box-sizing: border-box;
	transition: .1s;
}

body {
	font-family: 'Open Sans', sans-serif;	
	margin: 0;
	background: @white;
}

h1, h2, h3, h4, h5, h6 {	
	font-family: 'Open Sans Condensed', sans-serif;	
}

a {
	&:hover {
		text-decoration: none;
	}
}

article {
	margin: 0 auto;		
	@media @m {
		width: 100%;
	}
	@media @t {
		width: 768px;
	}
	@media @d {
		width: 1080px;
	}
}

input, textarea {
	padding: 15px;
	color: @black;
	border: 1px solid @black;
	resize: vertical;
	font-family: 'Open Sans', sans-serif;
}

.site {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;	
	min-height: 100vh;
}

.site-content {
	flex-grow: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.page-header {
	text-transform: uppercase;
	font-size: 45px;
    font-weight: lighter;
    letter-spacing: 1px;
	margin: 15px 0 30px;
}

.page-heading {
	&__header {
		text-transform: uppercase;
		font-size: 55px;
		letter-spacing: 1px;
		margin: 15px 0 45px;
		border-bottom: 5px solid @black;
		&::before {
			content: '»';
			text-align: center;
			padding: 0 15px;
			color: @blue;
		}
		span {
			border-bottom: 5px solid @blue;
		}
	}
	&__text {
		background: rgba(0, 0, 0, 0.4);
		color: @white;
		padding: 15px;
	}
}