.wall {		
	.wall-structure {
		background-color: #4a4d50;
		color: @white;
		padding: 0;
		&__wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;	
			margin: 0 auto;		
			@media @m {
				width: 100%;
			}
			@media @t {
				width: 768px;
			}
			@media @d {
				width: 1420px;
			}
		}
		&__pic-container {
			flex-grow: 1;
			background: url(img/wall/structure/pic.png) no-repeat center;
			background-size: cover;
			position: relative;
		}
		&__number {
			display: inline-block;
			background: @red;
			border-radius: 50%;
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			font-size: 16px;
			position: absolute;
			top: 45px;
			&:nth-child(3) {
				right: 250px;
			}
			&:nth-child(2) {
				right: 465px;
			}
			&:nth-child(1) {
				right: 678px;
			}
			
		}
		&__description {
			flex-basis: 570px;
			padding: 50px 170px 90px 0;
		}
		&__block {
			margin-bottom: 20px;
			h4 {
				margin: 0;
				padding: 4px 8px;
				background: @red;
				display: inline-block;
				font-weight: bold;
				font-size: 14px;
			}
			p {
				margin: 0;
				font-size: 13px;
			}
		}
	}
	.profile-types {
		justify-content: flex-start;
		& > div {
			padding: 30px;
			padding-left: 0;
			img {
				text-align: center;
			}
		}
	}
	.tech-chars {
		
	}
}