.site-header {
  min-height: 100px;
  background: #eee;
}
.site-header__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 15px 0;
  align-content: center;
}
.site-logo {
  width: 200px;
  height: 75px;
  background: url(img/site-logo.png) no-repeat center;
  background-size: contain;
}
.header-nav {
  flex-basis: 100%;
  background: #333;
}
.header-nav__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  position: relative;
}
.header-nav__wrapper li {
  flex-grow: 1;
  position: relative;
}
.header-nav__wrapper li:not(:last-child)::before {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background: #eee;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 100%;
}
@media (max-width: 767px) {
  .header-nav__wrapper li {
    flex-basis: 100%;
  }
}
.header-nav__wrapper li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #eee;
  text-transform: uppercase;
  text-align: center;
}
.header-nav__wrapper li:hover a {
  background: #eee;
  color: #333;
}
.header-nav__wrapper li:hover::before {
  display: none;
}
.site-footer {
  color: #eee;
  background: #333;
}
.site-footer__gradient {
  height: 4px;
  background: linear-gradient(to right, #cc0000 25%, #99ff00 25%, #99ff00 50%, #ffcc00 50%, #ffcc00 75%, #3333ff 75%);
}
.site-footer a {
  color: #eee;
}
.up {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
  cursor: pointer;
  color: #eee;
  visibility: hidden;
}
.up--visible {
  visibility: visible;
}
.site-footer-nav__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.site-footer-nav__column {
  padding: 15px;
}
@media (max-width: 767px) {
  .site-footer-nav__column {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .site-footer-nav__column {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .site-footer-nav__column {
    flex-basis: 25%;
  }
}
.site-footer-nav__header {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.site-footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer-nav__list .menu-item {
  margin-bottom: 5px;
}
.site-footer-nav__list .menu-item a {
  font-size: 12px;
}
.site-footer-nav__list .menu-item a:hover {
  text-decoration: none;
}
.site-footer-address__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}
.site-footer-address__item {
  padding: 15px;
}
@media (max-width: 767px) {
  .site-footer-address__item {
    flex-basis: 100%;
  }
}
.site-footer-address__item span {
  color: #2e97d7;
}
.site-footer-map {
  height: 300px;
}
.site-footer-copy__wrapper {
  padding: 15px;
}
.site-footer-copy__text {
  margin: 0;
  text-align: right;
}
.site-nav {
  flex-grow: 1;
  background: url(img/site-nav/0.jpg) no-repeat center top;
  background-size: cover;
  transition: 1s;
}
.site-nav--1 {
  background-image: url(img/site-nav/1.jpg);
}
.site-nav--2 {
  background-image: url(img/site-nav/2.jpg);
}
.site-nav--3 {
  background-image: url(img/site-nav/3.jpg);
}
.site-nav--4 {
  background-image: url(img/site-nav/4.jpg);
}
.site-nav--5 {
  background-image: url(img/site-nav/5.jpg);
}
.site-nav--6 {
  background-image: url(img/site-nav/6.jpg);
}
.site-nav--7 {
  background-image: url(img/site-nav/7.jpg);
}
.site-nav__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.site-nav--home .site-nav__wrapper {
  height: 100%;
}
.site-nav--home .site-nav-submenu {
  display: none;
}
.site-nav--home .site-nav-menu__slide {
  display: inline-block;
}
.site-nav-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
}
.site-nav-menu__item {
  padding: 30px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media (max-width: 767px) {
  .site-nav-menu__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .site-nav-menu__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .site-nav-menu__item {
    flex-basis: 25%;
  }
}
.site-nav-menu__inner {
  padding: 15px;
  height: 210px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #eee;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #eee;
  position: relative;
  overflow: hidden;
}
.site-nav-menu__inner h3 {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.site-nav-menu__inner img {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}
.site-nav-menu__inner:hover {
  background: rgba(0, 0, 0, 0.4);
}
.site-nav-menu__slide {
  position: absolute;
  bottom: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #eee;
  border: 1px solid #eee;
  transform: rotate(45deg);
  outline: none;
  display: none;
  text-align: left;
  padding: 3px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.site-nav-menu__slide:hover {
  background: #2e97d7;
  cursor: pointer;
  color: #eee;
}
.site-nav-submenu {
  flex-basis: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: center;
}
.site-nav-submenu.active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.site-nav-submenu__item {
  padding: 15px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .site-nav-submenu__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .site-nav-submenu__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .site-nav-submenu__item {
    flex-basis: 20%;
  }
}
.site-nav-submenu__inner {
  padding: 7.5px;
  width: 100%;
  height: 186px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #eee;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #eee;
}
.site-nav-submenu__inner h3 {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
.site-nav-submenu__inner img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.site-nav-submenu__inner:hover {
  background: rgba(0, 0, 0, 0.4);
}
.contacts__form input,
.contacts__form textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}
.lcw {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .lcw {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .lcw {
    width: 768px;
  }
}
@media (min-width: 1080px) {
  .lcw {
    width: 1080px;
  }
}
* {
  box-sizing: border-box;
  transition: .1s;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #eee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}
a:hover {
  text-decoration: none;
}
article {
  margin: 0 auto;
}
@media (max-width: 767px) {
  article {
    width: 100%;
  }
}
@media (min-width: 768px) {
  article {
    width: 768px;
  }
}
@media (min-width: 1080px) {
  article {
    width: 1080px;
  }
}
input,
textarea {
  padding: 15px;
  color: #333;
  border: 1px solid #333;
  resize: vertical;
  font-family: 'Open Sans', sans-serif;
}
.site {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-content {
  flex-grow: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.page-header {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 15px 0 30px;
}
.page-heading__header {
  text-transform: uppercase;
  font-size: 55px;
  letter-spacing: 1px;
  margin: 15px 0 45px;
  border-bottom: 5px solid #333;
}
.page-heading__header::before {
  content: '»';
  text-align: center;
  padding: 0 15px;
  color: #2e97d7;
}
.page-heading__header span {
  border-bottom: 5px solid #2e97d7;
}
.page-heading__text {
  background: rgba(0, 0, 0, 0.4);
  color: #eee;
  padding: 15px;
}
