.site-header {
  min-height: 100px;
  background: #eee;
}
.site-header__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}
.site-header__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .site-header__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .site-header__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .site-header__item {
    flex-basis: 25%;
  }
}
@media (max-width: 767px) {
  .site-header__item--logo {
    justify-content: center;
  }
}
.site-header__item--button {
  justify-content: center !important;
}
.site-logo {
  width: 150px;
  height: 75px;
  background: url(img/site-logo.png) no-repeat center;
  background-size: contain;
  display: inline-block;
}
.site-logo--footer {
  background-image: url(img/site-logo-footer.png);
}
@media (max-width: 767px) {
  .site-logo {
    width: 200px;
    height: 100px;
  }
}
.fast-links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .fast-links {
    display: none;
  }
}
.fast-links__item {
  background: url(img/pin.png) no-repeat left center;
  padding-left: 21px;
}
.fast-links__item a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.header-nav {
  flex-basis: 100%;
  background: linear-gradient(to bottom, #2c3033, #3f444a);
  background: linear-gradient(to bottom, #3d4042, #585c5f);
  z-index: 100000;
  border-top: 2px solid #d7163d;
}
@media (min-width: 1080px) {
  .header-nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.header-nav--fixed .header-nav__wrapper::before {
  display: block;
}
.header-nav__wrapper {
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 767px) {
  .header-nav__wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header-nav__wrapper {
    width: 798px;
  }
}
@media (min-width: 1080px) {
  .header-nav__wrapper {
    width: 1110px;
  }
}
.header-nav__wrapper::before {
  content: '';
  display: none;
  width: 200px;
  height: 50px;
  background: url(img/site-logo-nav.png) no-repeat center;
  margin-right: 30px;
}
.header-nav__wrapper > li {
  position: relative;
  /*&:not(:last-child) {
				&::before {
					content: '';
					display: block;
					width: 1px;
					height: 30px;
					background: @white;
					position: absolute;
					top: 50%;
					margin-top: -15px;
					left: 100%;					
				}
			}*/
}
@media (max-width: 767px) {
  .header-nav__wrapper > li {
    flex-basis: 100%;
    border-bottom: 1px solid #eee;
  }
}
.header-nav__wrapper > li a {
  display: block;
  padding: 7.5px 15px;
  text-decoration: none;
  color: #eee;
}
.header-nav__wrapper > li a:hover {
  background: #ffbc01;
  color: #eee;
}
.header-nav__wrapper > li > a {
  text-align: center;
  padding: 15px;
  color: #c8c8c8;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .header-nav__wrapper > li > a {
    text-align: left;
  }
}
.header-nav__wrapper > li .sub-menu {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 100000;
  background: #a91130;
  /*&::before {
					box-sizing: border-box;
					content: '';
					display: block;
					width: 100%;
					height: 0;
					position: absolute;
					top: 100%;
					left: 0;
					border: 10px solid transparent;
					border-top-color: #ddd;
					@media @m {
						display: none;
					}
				}*/
}
@media (max-width: 767px) {
  .header-nav__wrapper > li .sub-menu {
    background: none;
    position: static;
    box-shadow: none;
  }
  .header-nav__wrapper > li .sub-menu a {
    color: #eee;
  }
}
.header-nav__wrapper > li .sub-menu li.current-menu-item a {
  background: #ffbc01;
  color: #eee;
}
.header-nav__wrapper > li:hover > a {
  background: linear-gradient(to bottom, #d7163d, #a91130 33%);
  color: #eee;
}
.header-nav__wrapper > li:hover::before {
  display: none;
}
.header-nav__wrapper > li:hover .sub-menu {
  display: block;
}
@media (max-width: 767px) {
  .header-nav__wrapper > li:hover .sub-menu {
    display: none;
  }
}
.header-nav__wrapper > li.current-menu-item > a {
  color: #fff;
  box-shadow: inset 0 -8px 0 0 #a91130;
}
@media (max-width: 767px) {
  .header-nav__wrapper > li.current-menu-item > a {
    background: #a91130;
  }
}
.header-nav__wrapper > li.current-page-ancestor > a {
  color: #fff;
  box-shadow: inset 0 -8px 0 0 #a91130;
}
@media (max-width: 767px) {
  .header-nav__wrapper > li.current-page-ancestor > a {
    background: #a91130;
  }
}
.header-nav__button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: #eee;
  padding: 0;
  font-size: 25px;
  display: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.header-nav__button::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid #eee;
  border-right: 5px solid #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%) rotate(45deg);
  transition: .3s;
}
.header-nav__button--active::before {
  transform: translate(-50%, -25%) rotate(225deg);
}
@media (max-width: 767px) {
  .header-nav__button {
    display: block;
  }
}
.site-header-callback {
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .site-header-callback {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .site-header-callback {
    align-items: flex-start;
  }
}
@media (min-width: 1080px) {
  .site-header-callback {
    align-items: flex-end;
  }
}
.site-header-callback p {
  margin: 0;
}
.site-header-callback__tel {
  color: #a91130;
  font-weight: bold;
  font-size: 26px;
}
.site-header-callback__tel span {
  color: #cb7082;
}
.site-header-callback__button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  border-bottom: 1px dashed #a91130;
}
.site-header-callback__button:hover {
  border-color: transparent;
}
.site-footer {
  color: #eee;
  background: #333;
}
.site-footer__gradient {
  height: 4px;
  background: linear-gradient(to right, #b22626 25%, #8cc636 25%, #8cc636 50%, #d6b739 50%, #d6b739 75%, #4747b4 75%);
}
.site-footer a {
  color: #eee;
}
.up {
  position: fixed;
  right: 45px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  outline: none;
  border: none;
  cursor: pointer;
  color: #eee;
  visibility: hidden;
  padding: 0;
  font-size: 25px;
  opacity: 0;
  transition: .3s;
  line-height: 60px;
}
.up::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 5px solid #a91130;
  border-left: 5px solid #a91130;
  transform: rotate(45deg);
  transition: .3s;
}
.up:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.up:hover::before {
  border-color: #ff954e;
}
.up--visible {
  visibility: visible;
  opacity: 1;
}
.site-footer-nav {
  background: #575c60;
  border-bottom: 1px solid #a91130;
  border-top: 1px solid #a91130;
}
.site-footer-nav__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}
.site-footer-nav__column {
  padding: 15px;
}
@media (max-width: 767px) {
  .site-footer-nav__column {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .site-footer-nav__column {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .site-footer-nav__column {
    flex-basis: 25%;
  }
}
.site-footer-nav__header {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.site-footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer-nav__list .menu-item {
  margin-bottom: 5px;
}
.site-footer-nav__list .menu-item a {
  font-size: 12px;
}
.site-footer-nav__list .menu-item a:hover {
  text-decoration: none;
}
.site-footer-items {
  background: linear-gradient(to bottom, #302e2f, #404348);
}
.site-footer-items__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  border-bottom: 1px dotted #92959a;
  padding: 15px 0;
}
.site-footer-items__item {
  padding: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .site-footer-items__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .site-footer-items__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .site-footer-items__item {
    flex-basis: 25%;
    align-items: flex-start;
  }
  .site-footer-items__item:first-child {
    align-items: flex-start;
  }
  .site-footer-items__item:last-child {
    align-items: flex-end;
  }
  .site-footer-items__item--logo {
    align-items: center;
  }
  .site-footer-items__item--callback {
    align-items: center;
  }
}
.site-footer-items__item p {
  margin: 0;
  color: #9fa0a5;
  font-size: 13px;
}
.site-footer-items__item a {
  color: #9fa0a5;
}
.site-footer-items__item button {
  color: #9fa0a5;
}
.site-footer-items__address {
  margin-bottom: 15px !important;
}
.site-footer-callback {
  justify-content: space-between;
}
.site-footer-callback__tel {
  font-size: 24px !important;
  font-weight: bold;
}
.site-footer-callback__button {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px dashed #9fa0a5;
  padding: 0;
  margin-bottom: 5px;
  cursor: pointer;
  transition: .3s;
}
.site-footer-callback__button:hover {
  color: #eee;
  border-color: #eee;
}
/*.site-footer-map {
	height: 300px;
}*/
.site-footer-copy {
  background: #404348;
}
.site-footer-copy__wrapper {
  padding: 15px;
}
.site-footer-copy__text {
  margin: 0;
  text-align: center;
  color: #9fa0a5;
}
.site-nav__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 30px 0;
}
.site-nav--home {
  background-repeat: no-repeat;
  background-position: center top;
}
@media (min-width: 768px) {
  .site-nav--home {
    background-size: auto;
  }
}
@media (min-width: 1080px) {
  .site-nav--home {
    background-size: 100% auto;
    background-image: url(img/site-nav/bg/bg.jpg);
  }
}
.site-nav--home .site-nav__wrapper {
  height: 100%;
}
.site-nav--home .site-nav-submenu {
  border-top: 1px solid #eee;
}
@media (min-width: 1080px) {
  .site-nav--home .site-nav-submenu {
    display: none;
    border-top: none;
  }
}
@media (min-width: 1080px) {
  .site-nav--home .site-nav-menu__slide {
    display: inline-block;
  }
}
.site-nav-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
}
.site-nav-menu__item {
  padding: 30px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .site-nav-menu__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .site-nav-menu__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .site-nav-menu__item {
    flex-basis: 25%;
  }
}
.site-nav-menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: .3s;
}
.site-nav-menu__inner {
  padding: 30px 15px 0;
  height: 210px;
  width: 210px;
  text-decoration: none;
  text-align: center;
  color: #eee;
  background: rgba(0, 0, 0, 0.75) no-repeat center;
  border: 1px solid #a91130;
  position: relative;
  overflow: hidden;
  transition: .3s;
  /*&--about {
			background: url(img/site-nav/bg/about-bg.jpg);
		}
		&--services {
			background: url(img/site-nav/bg/services-bg.jpg);
		}
		&--prices {
			background: url(img/site-nav/bg/prices-bg.jpg);
		}
		&--contacts {
			background: url(img/site-nav/bg/contacts-bg.jpg);
		}*/
}
.site-nav-menu__inner--sandwich {
  background-image: url(img/site-nav/bg/sandwich-bg.jpg);
}
.site-nav-menu__inner--profnastil {
  background-image: url(img/site-nav/bg/profnastil-bg.jpg);
}
.site-nav-menu__inner--roll {
  background-image: url(img/site-nav/bg/steel-bg.jpg);
}
.site-nav-menu__inner h3 {
  margin: 0;
  text-align: center;
  font-size: 18px;
  position: relative;
}
.site-nav-menu__inner img {
  width: 100px;
  min-height: 80px;
  margin-bottom: 30px;
  position: relative;
}
.site-nav-menu__inner:hover {
  /*.site-nav-menu__slide {				
				color: @black;
				transform: rotate(45deg) translateX(0);
			}*/
}
.site-nav-menu__inner:hover .site-nav-menu__bg {
  opacity: 0;
}
.site-nav-menu__inner:hover .site-nav-menu__slide {
  opacity: 1;
}
.site-nav-menu__slide {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  bottom: 0;
  border: none;
  outline: none;
  background: none;
  background-image: url(img/slide-arrow.png), linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: auto 20px, auto;
  cursor: pointer;
  transition: .3s;
  opacity: 0;
  /*position: absolute;
		bottom: -35px;
		right: -35px;
		width: 70px;
		height: 70px;
		background: @white;
		border: 1px solid @white;
		transform: rotate(45deg) translateX(15px);
		outline: none;
		display: none;
		text-align: left;
		padding-left: 6px;
		padding-bottom: 6px;
		font-size: 24px;
		font-weight: bold;
		color: @white;
		transition: .3s;
		&:hover {
			background: darken(#2e97d7, 15%);
			cursor: pointer;
			color: @white;
		}*/
}
.site-nav-submenu {
  flex-basis: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: center;
}
@media (min-width: 1080px) {
  .site-nav-submenu {
    border: none;
  }
}
@media (max-width: 767px) {
  .site-nav-submenu {
    order: 1;
  }
}
.site-nav-submenu.active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.site-nav-submenu__header {
  text-align: center;
  flex-basis: 100%;
  color: #eee;
  display: none;
}
@media (max-width: 767px) {
  .site-nav-submenu__header {
    display: block;
  }
}
.site-nav-submenu__item {
  padding: 15px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .site-nav-submenu__item {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .site-nav-submenu__item {
    flex-basis: 33%;
  }
}
@media (min-width: 1080px) {
  .site-nav-submenu__item {
    flex-basis: 20%;
  }
}
.site-nav-submenu__inner {
  padding: 25px 7.5px 0;
  width: 180px;
  height: 180px;
  text-decoration: none;
  color: #eee;
  background: rgba(201, 27, 50, 0.9);
  border: 1px solid #eee;
  text-align: center;
  transition: .3s;
}
.site-nav-submenu__inner h3 {
  margin: 0;
  font-size: 14px;
}
.site-nav-submenu__inner img {
  max-height: 64px;
  margin-bottom: 30px;
}
.site-nav-submenu__inner:hover {
  background: rgba(51, 51, 51, 0.9);
}
.about .site-nav-submenu__item {
  padding: 0;
}
.about .site-nav-submenu__inner {
  width: 200px;
  height: 200px;
  margin: 30px;
  padding-top: 45px;
}
.about .site-nav-submenu__inner h3 {
  font-size: 16px;
}
.about .site-nav-submenu__inner img {
  width: auto;
  height: auto;
  min-height: 0;
}
article {
  margin: 0 auto;
}
@media (max-width: 767px) {
  article {
    width: 100%;
  }
}
@media (min-width: 768px) {
  article {
    width: 768px;
  }
}
@media (min-width: 1080px) {
  article {
    width: 1080px;
  }
}
.callback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.callback--open {
  display: block;
}
.callback__wrapper {
  width: 450px;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .callback__wrapper {
    top: 30px;
    margin-top: 0;
  }
}
.callback__header {
  text-transform: uppercase;
  margin: 8px;
}
.callback__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.callback__item {
  padding: 8px;
  flex-basis: 100%;
}
.callback__item label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
.callback__item input,
.callback__item textarea {
  width: 100%;
  padding: 15px;
  resize: vertical;
}
.callback__item input[type="submit"] {
  background: #eee;
  color: #a91130;
  border: 1px solid #a91130;
  text-transform: uppercase;
  cursor: pointer;
  transition: .1s;
  font-weight: bold;
}
.callback__item input[type="submit"]:hover {
  background: #a91130;
  color: #eee;
}
.callback__item textarea {
  resize: vertical;
}
.callback__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: .3s;
}
.callback__close:hover {
  transform: rotate(90deg);
  color: #a91130;
}
.contacts {
  position: relative;
}
.contacts__map {
  height: 600px;
  width: 100%;
}
.contacts__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@media (max-width: 767px) {
  .contacts__wrapper {
    flex-direction: column;
  }
}
.contacts__container {
  width: 300px;
  padding: 15px;
  background: #fff;
  border-right: 1px solid #ddd;
}
@media (max-width: 767px) {
  .contacts__container {
    width: 100%;
  }
}
.contacts__form input,
.contacts__form textarea {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  font-family: 'Open Sans';
}
.contacts__form input[type="submit"] {
  cursor: pointer;
  background: #2e97d7;
  border: 1px solid #2e97d7;
  color: #eee;
  text-transform: uppercase;
}
.contacts__form input[type="submit"]:hover {
  background: none;
  color: #2e97d7;
}
.contacts__form textarea {
  resize: none;
}
.prices .price {
  padding: 30px 0;
  background: #a91130;
  color: #eee;
}
.prices .price__header {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}
.prices .price__header span {
  border-left: 1px solid #ffbc01;
  border-right: 1px solid #ffbc01;
  padding: 5px 15px 10px;
}
.prices .price-choose {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prices .price-choose__item {
  flex-basis: 33.33%;
}
.prices .price-choose__item h3 {
  margin: 0;
}
.prices .price-choose__item p {
  margin: 0;
}
.prices .price-choose__item--left {
  padding-right: 60px;
  font-size: 21px;
}
.prices .price-choose__item--center {
  flex-grow: 1;
  padding: 0 55px;
  text-align: center;
  position: relative;
}
.prices .price-choose__item--center::before {
  content: '';
  display: block;
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(img/arrow-left.png) no-repeat center;
  background-size: contain;
}
.prices .price-choose__item--center::after {
  content: '';
  display: block;
  width: 25px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(img/arrow-left.png) no-repeat center;
  background-size: contain;
  transform: rotate(180deg);
}
.prices .price-choose__item--right {
  padding-left: 60px;
  text-align: right;
}
.prices .price-choose__open {
  display: inline-block;
  padding: 20px 30px;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffbc01;
  cursor: pointer;
  border: none;
  outline: none;
  background: url(img/button-border.png) no-repeat center;
  background-size: cover;
  font-weight: lighter;
}
.prices .price-choose__open span {
  padding: 5px 15px;
  border-left: 1px solid #ffbc01;
  border-right: 1px solid #ffbc01;
}
.prices .price-choose__tel {
  text-align: center;
  font-size: 24px;
}
.prices .price-choose__tel span {
  font-size: 30px;
  font-weight: bold;
}
.prices .price__container {
  padding-top: 30px;
  transition: none;
  display: none;
}
.prices .price__form {
  padding: 7.5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.prices .price__item {
  flex-basis: 50%;
  padding: 7.5px;
}
.prices .price__item--small {
  flex-basis: 33.33%;
}
.prices .price__item--big {
  flex-basis: 100%;
}
.prices .price__item input:not([type="file"]),
.prices .price__item textarea {
  padding: 15px;
  width: 100%;
}
.prices .price__add {
  float: right;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: linear-gradient(#ffc31b, #b38400);
  cursor: pointer;
  border: none;
  outline: none;
}
.prices .price-add {
  display: none;
  padding-top: 30px;
  transition: none;
}
.prices .price-add__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.prices .price-add__item {
  padding: 7.5px;
}
.prices .price-add__item--dim {
  flex-basis: 100%;
}
.prices .price-add__item--dim input {
  width: 24%;
}
.prices .price-add__item--dim output {
  width: 24%;
  display: inline-block;
  text-align: center;
}
.prices .price-add__item--panel-type {
  flex-basis: 100%;
}
.prices .price-add__item--panel-thickness {
  flex-basis: 33.33%;
}
.prices .price-add__item--metal-thickness {
  flex-basis: 66.66%;
}
.prices .price-add__item--filler {
  flex-basis: 33.33%;
}
.prices .price-add__item--filler label {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}
.prices .price-add__item--addition {
  flex-basis: 66.66%;
}
.prices .price-add__item--addition label {
  width: 49%;
  display: inline-block;
  margin-bottom: 14px;
}
.prices .price-add__item input {
  padding: 15px;
}
.prices .price-add__item h4 {
  margin: 0;
  background: #a91130;
  position: absolute;
  padding: 0 8px;
  top: -12px;
  left: 8px;
}
.prices .price-add__inner {
  border: 1px solid #eee;
  position: relative;
  padding: 15px;
}
.services .page-heading__container {
  padding: 0 25px;
}
.services .site-nav {
  background-image: url(img/services/bg.jpg);
  padding-bottom: 60px;
}
.services .site-nav-submenu {
  justify-content: flex-start;
  padding: 0;
}
.services .site-nav-submenu__wrapper {
  width: 700px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services .site-nav-submenu__item {
  padding: 25px;
}
.services .site-nav-submenu__item img {
  min-height: 0;
  height: auto;
  width: auto;
}
.services .site-nav-submenu__inner {
  padding-top: 45px;
}
.photo {
  padding: 0;
  font-size: 0;
}
@media (max-width: 767px) {
  .photo img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .photo img {
    width: 50%;
  }
}
@media (min-width: 1080px) {
  .photo img {
    width: 25%;
  }
}
.prod-capacity {
  font-size: 24px;
  text-align: center;
}
.prod-capacity h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
.prod-capacity__container {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.prod-capacity__container::before {
  content: '';
  display: block;
  width: 150px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
  background: url(img/wing.png) no-repeat center;
  background-size: auto 63px;
  padding-top: 25px;
}
.prod-capacity__container::after {
  content: '';
  display: block;
  width: 150px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background: url(img/wing.png) no-repeat center;
  background-size: auto 63px;
  padding-top: 25px;
  transform: rotateY(180deg);
}
.prod-capacity__container p {
  margin: 0;
  text-transform: lowercase;
  color: #ba011e;
}
.prod-capacity__container p:first-child {
  font-weight: bold;
  font-size: 40px;
}
.items__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.growth {
  background: url(img/about/growth/bg.jpg) no-repeat center;
  position: relative;
  padding: 0;
}
.growth::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
  position: absolute;
  top: 0;
  left: 0;
}
.growth .section-header {
  color: #eee;
  font-size: 36px;
}
.growth__wrapper {
  position: relative;
}
.growth__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.growth__item {
  color: #eee;
  width: 180px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: flex-end;
}
.growth__item:nth-child(1) .growth__bar--active {
  max-height: 90px;
}
.growth__item:nth-child(2) .growth__bar--active {
  max-height: 150px;
}
.growth__item:nth-child(3) .growth__bar--active {
  max-height: 200px;
}
.growth__item:nth-child(4) .growth__bar--active {
  max-height: 240px;
}
.growth__percent {
  color: #ff0023;
  font-weight: bold;
  font-size: 35px;
  position: relative;
  padding: 0 25px;
}
.growth__percent::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-color: #00cf00;
  position: absolute;
  bottom: 11px;
  right: 24px;
}
.growth__note {
  font-size: 12px;
  border-top: 1px solid #eee;
  margin: 0 25px;
  padding-top: 5px;
}
.growth__bar {
  max-height: 0;
  margin: 5px 25px 0;
  background: rgba(255, 255, 255, 0.8);
  transition: 3s ease-out;
  height: 1000px;
}
.growth__year {
  font-size: 26px;
  border-top: 1px solid #eee;
  padding: 0 25px;
}
.wall .wall-structure {
  background-color: #4a4d50;
  color: #eee;
  padding: 0;
}
.wall .wall-structure__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.wall .wall-structure__col {
  position: relative;
  flex-basis: 100%;
}
.wall .wall-structure__col--pic {
  font-size: 0;
  text-align: center;
}
@media (min-width: 1080px) {
  .wall .wall-structure__col--pic {
    text-align: right;
  }
}
@media (min-width: 1080px) {
  .wall .wall-structure__col {
    flex-basis: 49%;
    background-size: auto 100%;
    background-position: right;
  }
}
.wall .wall-structure__img {
  width: 100%;
}
@media (min-width: 1080px) {
  .wall .wall-structure__img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
  }
}
.wall .wall-structure__description {
  padding: 15px;
  width: 100%;
  background: #333;
}
@media (min-width: 1080px) {
  .wall .wall-structure__description {
    padding: 50px 0 90px;
    width: 540px;
    background: none;
  }
}
.wall .wall-structure__block {
  margin-bottom: 20px;
}
.wall .wall-structure__block h4 {
  margin: 0;
  padding: 4px 8px;
  background: #a91130;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}
.wall .wall-structure__block p {
  margin: 0;
  font-size: 13px;
}
.wall .profile-types {
  justify-content: flex-start;
}
.wall .profile-types > div {
  padding: 30px;
  padding-left: 0;
}
.wall .profile-types > div img {
  text-align: center;
}
.roof .roof-structure {
  background: #585c5f;
  color: #eee;
  padding: 0;
}
.roof .roof-structure__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.roof .roof-structure__col--pic {
  background: url(img/roof/structure/bg.png) no-repeat right 60px center;
  background-size: cover;
}
@media (max-width: 767px) {
  .roof .roof-structure__col {
    flex-basis: 100%;
  }
  .roof .roof-structure__col--pic {
    height: 400px;
  }
  .roof .roof-structure__col--text {
    padding: 15px;
  }
}
@media (min-width: 768px) {
  .roof .roof-structure__col {
    flex-basis: 50%;
  }
  .roof .roof-structure__col--pic {
    background-size: contain;
  }
}
@media (min-width: 1080px) {
  .roof .roof-structure__col--text {
    flex-basis: 540px;
  }
}
.roof .roof-structure__item {
  margin-bottom: 45px;
}
.roof .roof-structure__header {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  background: #ff6701;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
}
.roof .roof-structure__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.roof .roof-structure__img {
  width: 100px;
  float: left;
  margin-right: 25px;
}
.packing .site-nav {
  background-image: linear-gradient(to bottom, #585c5f, transparent), url(img/packing/nav/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #eee;
}
.packing .site-nav__wrapper {
  padding-top: 0;
}
.packing .site-nav-menu__inner {
  background: #a91130;
  padding-top: 45px;
  width: 220px;
  height: 220px;
}
.packing .site-nav-menu__inner img {
  width: auto;
  min-height: 0;
  margin-bottom: 15px;
}
.packing .site-nav-menu__inner h3 {
  font-size: 16px;
}
.production .site-nav {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), transparent), url(img/production/nav/bg.jpg);
}
.delivery .site-nav {
  background-image: linear-gradient(to bottom, #585c5f, transparent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #eee;
}
.delivery .site-nav__wrapper {
  padding-top: 0;
}
.delivery .site-nav-menu__inner {
  background: #ff6701;
  border-color: #ff6701;
  padding-top: 45px;
  width: 220px;
  height: 220px;
}
.delivery .site-nav-menu__inner img {
  width: auto;
  min-height: 0;
  margin-bottom: 15px;
}
.delivery .site-nav-menu__inner h3 {
  font-size: 16px;
}
.delivery .page-heading__header {
  border-color: #ff6701;
}
.delivery .section-header {
  border-color: #ff6701;
}
.delivery .section-header span {
  color: #ff6701;
}
.delivery .tabs__controls {
  border-color: #ff6701;
}
.delivery .tabs__controls div:hover {
  border-color: #ff6701;
}
.delivery .tabs__controls div.active {
  background-color: #ff6701;
}
.delivery table td:not(:last-child) {
  border-color: #ff6701;
}
.delivery .consult {
  background-image: url(img/consult-bg-orange.jpg);
}
.delivery ul li {
  background-image: url(img/pin-orange.png);
}
.roll .site-nav {
  background-image: url(img/roll/bg.jpg);
  color: #eee;
}
.roll .page-heading__text {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 10px;
  margin-bottom: 110px;
}
.roll .page-heading .container {
  justify-content: center;
}
.roll .page-heading .container .callback__open {
  padding: 8px 20px;
  margin-left: 65px;
}
.roll .roll-structure {
  height: 530px;
  background: #4a4d50 url(img/roll/pic.png) no-repeat center;
}
@media (max-width: 767px) {
  .roll .roll-structure {
    background-position: -800px right;
  }
}
@font-face {
  font-family: Bender;
  src: url(fonts/Bender.otf);
}
.lcw {
  margin: 0 auto;
}
@media (max-width: 767px) {
  .lcw {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .lcw {
    width: 768px;
  }
}
@media (min-width: 1080px) {
  .lcw {
    width: 1080px;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #333;
}
@media (max-width: 767px) {
  section {
    padding: 0 15px;
  }
}
section.colored {
  color: #eee;
}
section.colored--blue {
  background: #2e97d7;
}
section .section-header {
  width: auto;
  border-left: 2px solid #a91130;
  border-right: 2px solid #a91130;
  text-transform: uppercase;
  padding: 5px;
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
}
section .section-header span {
  color: #a91130;
}
section .sub-header {
  color: #a91130;
  font-size: 30px;
  text-transform: uppercase;
}
section .text--red {
  color: #a91130;
}
section .text--orange {
  color: #ff6701;
}
section .text--bold {
  font-weight: bold;
}
section ul {
  padding: 0;
  list-style: none;
}
section ul li {
  padding-left: 30px;
  margin-bottom: 15px;
  position: relative;
  background: url(img/pin.png) no-repeat left 3px;
}
section img {
  width: 100%;
  margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
}
button {
  font-family: 'Open Sans', sans-serif;
}
input,
textarea {
  /*padding: 15px;
	color: @black;
	border: 1px solid @black;
	resize: vertical;
	font-family: 'Open Sans', sans-serif;
	background: @white;*/
}
.site {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-content {
  flex-grow: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.page-header {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 15px 0 30px;
}
.page-heading {
  padding: 45px 0;
}
.page-heading__container {
  width: 700px;
}
.page-heading__header {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 30px;
  display: inline-block;
  border-left: 2px solid #a91130;
  border-right: 2px solid #a91130;
  padding: 0 15px;
}
.page-heading__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.consult {
  background: url(img/consult-bg.jpg) no-repeat center;
  background-size: cover;
  /*&__button {
		display: inline-block;
		padding: 15px 30px;
		font-size: 25px;
		background: @yellow;
		border: 1px solid @yellow;
		color: @black;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		font-family: 'Open Sans Condensed';
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: -1px;
			left: -1px;
			border: 1px solid @white;
			transition: .1s;
		}
		&:hover {
			box-shadow: 5px 5px 0 0 @black;
			&::before {
				transform: translate(-5px, -5px);
			}
		}
	}*/
}
.consult__wrapper {
  padding: 30px 60px;
  text-align: center;
  color: #eee;
}
.consult__header {
  margin: 0;
  margin-bottom: 15px;
}
.consult__tel {
  font-size: 30px;
  font-weight: bold;
}
.consult .fancy-button {
  font-size: 20px;
}
.types {
  margin-bottom: 15px;
}
.types__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.types__item {
  flex-basis: 49%;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 345px;
  background: #ddd no-repeat center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.types__item:hover .types__mask {
  transform: scale(1.5);
  opacity: 0;
}
.types__mask {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  transition: .3s;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.types__mask h2 {
  color: #eee;
  font-size: 30px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
}
.types__img {
  width: 120px;
  height: 120px;
  display: inline-block;
  background: rgba(255, 0, 26, 0.6) no-repeat center;
  background-size: 80px;
}
.types--sandwich .types__item:nth-child(1) {
  background-image: url(img/types/sandwich/1.jpg);
}
.types--sandwich .types__item:nth-child(1) .types__img {
  background-image: url(img/site-nav/img/wall.png);
}
.types--sandwich .types__item:nth-child(2) {
  background-image: url(img/types/sandwich/2.jpg);
}
.types--sandwich .types__item:nth-child(2) .types__img {
  background-image: url(img/site-nav/img/roof.png);
}
.heater-types__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.heater-types__item {
  margin-bottom: 45px;
  text-align: center;
}
@media (max-width: 767px) {
  .heater-types__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .heater-types__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .heater-types__item {
    flex-basis: 25%;
  }
}
.heater-types__inner {
  width: 220px;
  display: inline-block;
}
.heater-types__inner h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
}
.heater-types__inner p {
  text-align: center;
  font-size: 18px;
}
.heater-types__container {
  height: 220px;
  overflow: hidden;
  margin-bottom: 15px;
}
.heater-types__container img {
  width: 100%;
  transition: .3s;
}
.heater-types__container:hover img {
  transform: scale(1.6);
  transform-origin: right;
}
.slider h2 {
  text-align: center;
  text-transform: uppercase;
}
.slider__container {
  padding: 8px;
}
.slider__item {
  background: #ddd;
  height: 200px;
  margin: 8px;
}
.items {
  padding: 30px 0;
}
.items__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.items__header {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border-left: 1px solid #a91130;
  border-right: 1px solid #a91130;
  padding: 5px 15px 10px;
}
.items__item {
  text-align: center;
  padding: 30px;
}
@media (max-width: 767px) {
  .items__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .items__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .items__item {
    flex-basis: 33.333333%;
  }
}
.items__img {
  height: 60px;
  width: auto;
  margin-bottom: 15px;
}
.items__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.items__text span {
  color: #a91130;
  font-weight: bold;
}
/*.graph {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&__item {
		flex-basis: 25%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;	
		text-align: center;
		padding: 15px 30px;
		font-size: 26px;
		font-weight: bold;
		&:nth-child(1) {
			.graph__div {
				height: 45px;
			}
		}
		&:nth-child(2) {
			.graph__div {
				height: 75px;
			}
		}
		&:nth-child(3) {
			.graph__div {
				height: 100px;
			}
		}
		&:nth-child(4) {
			.graph__div {
				height: 120px;
			}
		}
		
	}
	&__div {
		margin-top: auto;
		background: @blue;
		margin-bottom: 15px;
		padding-top: 5px;
		font-size: 26px;
		font-weight: bold;
		color: @white;
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 0;
			height: 5px;
			position: absolute;
			left: 50%;
			margin-left: -102px;
			bottom: 100%;
			border-style: solid;
			border-width: 25px 102px;
			border-color: transparent;
			border-bottom-color: @blue;
			box-sizing: border-box;
		}
	}
	&__volume {
		font-size: 30px;
	}
	&__year {
		font-size: 34px;
		color: @blue;
	}
}*/
.fancy-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.fancy-ul li {
  padding-left: 45px;
  margin-bottom: 15px;
  font-size: 15px;
  position: relative;
}
.fancy-ul li::before {
  content: '';
  display: block;
  position: absolute;
  background: #2e97d7;
  transform: rotate(0);
  width: 24px;
  height: 24px;
  top: 6px;
  left: 0;
}
.fancy-ul li::after {
  content: '';
  display: block;
  width: 12px;
  height: 6px;
  border-bottom: 4px solid #eee;
  border-left: 4px solid #eee;
  transform: rotate(-45deg);
  position: absolute;
  top: 11px;
  left: 4px;
}
.fancy-ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.fancy-ol li {
  padding-left: 45px;
  margin-bottom: 15px;
  font-size: 15px;
  position: relative;
  counter-increment: counter;
}
.fancy-ol li::before {
  content: counter(counter);
  display: block;
  position: absolute;
  background: #eee;
  color: #2e97d7;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 0;
  font-size: 20px;
}
.fancy-button {
  border: 12px solid transparent;
  border-image: url(img/fancy-button-border.png) 11;
  outline: none;
  cursor: pointer;
  background-clip: padding-box;
  background-color: #a91130;
  font-family: Bender;
}
.fancy-button span {
  color: #eee;
  text-transform: uppercase;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  display: inline-block;
  padding: 4px 8px;
}
.fancy-button--big {
  padding: 8px 48px;
}
.fancy-button--big span {
  font-size: 21px;
}
.fancy-button--right {
  float: right;
}
.fancy-button--yellow {
  border-image: url(img/fancy-button-border-yellow.png) 11;
  background: #ffbc01;
  background-clip: padding-box;
}
.fancy-button--yellow span {
  color: #333;
  border-color: #333;
}
.fancy-button--grey {
  border-image: url(img/fancy-button-border-grey.png) 11;
  background: #585c5f;
  background-clip: padding-box;
}
.fancy-button--grey span {
  color: #eee;
  border-color: #a91130;
}
.fancy-button--orange {
  border-image: url(img/fancy-button-border-orange.png) 11;
  background: #ff6701;
  background-clip: padding-box;
}
.fancy-button--orange span {
  color: #eee;
  border-color: #eee;
}
.features__header {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #2e97d7;
}
.features__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.features__item {
  padding: 15px 30px;
  font-size: 13px;
  /*&::before {   
			content: counter(number);
				background: @yellow;
				border-radius: 50%;
				width: 50px;
				height: 50px;
				display: inline-block;
				color: @white;
				line-height: 50px;
				font-weight: bold;
				font-size: 20px;
				margin-bottom: 15px;
		}*/
}
@media (max-width: 767px) {
  .features__item {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .features__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1080px) {
  .features__item {
    flex-basis: 33%;
  }
}
.features__item h3 {
  font-size: 18px;
  color: #a91130;
  background: url(img/pin.png) no-repeat left center;
  background-size: auto 30px;
  margin: 0;
  margin-bottom: 15px;
  padding: 15px 0 15px 45px;
}
.features__item p {
  font-size: 14px;
  text-align: left;
}
.features--sandwich .features__item:nth-child(1) h3 {
  background-image: url(img/features/sandwich/1.png);
}
.features--sandwich .features__item:nth-child(2) h3 {
  background-image: url(img/features/sandwich/2.png);
}
.features--sandwich .features__item:nth-child(3) h3 {
  background-image: url(img/features/sandwich/3.png);
}
.features--sandwich .features__item:nth-child(4) h3 {
  background-image: url(img/features/sandwich/4.png);
}
.features--sandwich .features__item:nth-child(5) h3 {
  background-image: url(img/features/sandwich/5.png);
}
.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .col-4 {
  flex-basis: 33%;
}
.container .col-6 {
  flex-basis: 49%;
}
.colors {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1080px) {
  .colors {
    width: 1040px;
    box-shadow: 5px 5px 10px 1px #ccc;
    flex-wrap: nowrap;
  }
}
.colors__item {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  transition: .3s;
}
.colors__item span {
  transition: .3s;
}
@media (min-width: 1080px) {
  .colors__item span {
    opacity: 0;
  }
}
.colors__item:hover {
  transform: scale(1.2);
  z-index: 1;
}
.colors__item:hover span {
  opacity: 1;
}
.colors__item--1014 {
  background-color: #dfcda3;
}
.colors__item--1015 {
  background-color: #e7d8bf;
}
.colors__item--1018 {
  background-color: #fed939;
}
.colors__item--3003 {
  background-color: #860a24;
  color: #eee;
}
.colors__item--3009 {
  background-color: #6c312b;
  color: #eee;
}
.colors__item--5005 {
  background-color: #014289;
  color: #eee;
}
.colors__item--6002 {
  background-color: #296131;
  color: #eee;
}
.colors__item--6005 {
  background-color: #0e4437;
  color: #eee;
}
.colors__item--7004 {
  background-color: #999a9f;
}
.colors__item--8017 {
  background-color: #46302c;
  color: #eee;
}
.colors__item--9002 {
  background-color: #dbdad6;
}
.colors__item--9003 {
  background-color: #f8f9fc;
}
.colors__item--9006 {
  background-color: #a6a8a7;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr:nth-child(2n -1) {
  background: #edeeef;
}
table th,
table td {
  padding: 15px;
}
table th {
  text-align: left;
}
table td {
  text-align: center;
}
table td:not(:last-child) {
  border-right: 1px solid #a91130;
}
table.horizontal th {
  text-align: center;
  background-color: #edeeef;
}
.tabs {
  margin-bottom: 15px;
}
.tabs__controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-bottom: 2px solid #a91130;
}
.tabs__controls div {
  flex-grow: 1;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .3s;
}
.tabs__controls div.active {
  background: #a91130;
  color: #eee;
}
.tabs__controls div:hover {
  border-color: #a91130;
  border-bottom-color: transparent;
}
.tabs__content {
  padding: 15px 0;
}
.tabs__content div {
  display: none;
}
.tabs__content div h3 {
  text-transform: uppercase;
  color: #a91130;
  font-size: 16px;
  font-weight: bold;
}
.tabs__content div p {
  font-size: 14px;
}
.tabs__content div.active {
  display: block;
}
.intro {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #eee;
  padding: 30px 0;
}
.intro__wrapper {
  padding: 0 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-size: contain !important;
}
@media (max-width: 767px) {
  .intro__wrapper {
    background-image: none;
  }
}
.intro__container .fancy-button {
  float: right;
}
@media (min-width: 1080px) {
  .intro__container {
    width: 475px;
  }
}
.intro__header {
  padding: 5px 15px 10px;
  border-left: 2px solid #a91130;
  border-right: 2px solid #a91130;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  display: inline-block;
}
@media (max-width: 767px) {
  .intro__header {
    font-size: 20px;
    align-self: flex-start;
    margin-bottom: 15px;
  }
}
.intro__text {
  margin-bottom: 30px;
  width: 480px;
  font-size: 14px;
  line-height: 24px;
}
.intro__text p {
  margin: 0;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .intro__text {
    width: 100%;
    margin-bottom: 30px;
  }
}
.wall .intro {
  background-image: linear-gradient(to bottom, #585c5f, transparent), url(img/wall/intro/bg.jpg);
}
.wall .intro__wrapper {
  background: url(img/wall/intro/pic.png) no-repeat left;
}
.roof .intro {
  background-image: linear-gradient(to bottom, #ff6701, transparent), url(img/wall/intro/bg.jpg);
}
.roof .intro__wrapper {
  background: url(img/roof/intro/pic.png) no-repeat left;
}
.profnastil {
  background: #fff;
}
.profnastil .intro {
  background-image: url(img/profnastil/intro/pic.jpg);
  background-position: left center;
  background-size: auto 100%;
}
.profnastil .intro__wrapper {
  color: #333;
}
